.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, );
  width: 600px;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 500px;
  backdrop-filter: blur(10px);
}

.login-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.login-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.login-form .input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px;
  background: #fff;
}

.input-group input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

.input-group .input-icon {
  color: #666;
  margin-right: 10px;
}

.input-group input:focus ~ .input-icon {
  display: none; /* Ensures icon disappears when typing */
}

.login-button {
  background-color: #000dff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #6b73ff;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.register-link {
  margin-top: 15px;
  font-size: 14px;
  color: black;
}

.register-link .link {
  cursor: pointer;
  text-decoration: underline;
}
