/* General styles */
body {
  margin: 0;

  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  display: flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 9110px;
  width: 110%;
}

/* Left side - Image */
.image-container {
  flex: 1;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  max-width: 125%;
  height: auto;
}

/* Right side - Login Form */
.login-container {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

form {
  display: flex;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.password-container {
  display: flex;
  align-items: center;
}

.password-container input {
  flex: 1;
}

.toggle-password {
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
}

.login-button {
  background: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background: #0056b3;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}
